* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#mainPage {
  width: 100vw;
  height: 100vh;
  background-color: #0a0c1b;
  display: flex;
  justify-content: center;
  align-items: center;
}

#detailPage {
  width: 80vw;
  height: 60vh;
  background-color: #1c1938;
  display: flex;
  justify-content: flex-end;
}
#mainImg {
  width: 50%;
  height: auto;
  background: linear-gradient(rgba(79, 6, 124, 0.6), rgba(79, 6, 124, 0.6)),
    url("./Asset/stats-preview-card-component-main/images/image-header-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#mainContainer {
  width: 40%;
  height: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#mainContainer > div > h1 {
  font-size: 3vw;
  font-family: "Open Sans", sans-serif;
  color: white;
}
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
#mainContainer > div > h1 > span {
  color: #ac59d9;
}
#detailContainer {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
#detailContainer > p {
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: white;
  width: 89%;
  line-height: 1.5rem;
  letter-spacing: 0.85px;
}

#statusContainer {
  width: 89%;
  display: flex;
  justify-content: space-between;
  font-family: "Open Sans", sans-serif;
}
#companies {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#companies > h2 {
  font-size: 2.2em;
  color: white;
}
#companies > p {
  font-size: 1em;
  color: rgba(255, 255, 255, 0.527);
  text-transform: uppercase;
}

@media only screen and (max-width: 1048px) {
  #detailPage {
    width: 80vw;
    height: 90vh;
    background-color: #1c1938;
    display: flex;
    flex-direction: column-reverse;
    /* border: 1px solid white; */
    border-radius: 20px;
  }

  #mainImg {
    width: 100%;
    height: 30%;
    border-radius: 10px 10px 0px 0px;
  }
  #detailContainer {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  #mainContainer {
    width: 90%;
    height: 60%;
    margin: auto;
    gap: 5vh;
    justify-content: start;
  }
  #mainContainer > div > h1 {
    font-size: 3.5vh;
    text-align: center;
  }

  #detailContainer > p {
    font-size: 1.75vh;
    font-family: "Open Sans", sans-serif;
    width: 100%;
    text-align: center;
    line-height: 3vh;
    letter-spacing: 0.95px;
  }
  #statusContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }
  #companies {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  #companies > h2 {
    font-size: 3.5vh;
    text-align: center;
  }
  #companies > p {
    font-size: 1.75vh;
    color: rgba(255, 255, 255, 0.747);
    text-align: center;
  }
}
